body{
    background: url("/Images/Gradient-Blue.jpg") no-repeat center center/cover;
    
}

h1{
    color: #ffffff;
    text-align: center;
    text-decoration: underline rgb(57, 0, 80);
}

.row{
    display: flex;
}

.menu{
    padding: 10px;
    width: 30%;
}
.Menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    
}

.heading{
    display: flex;
    justify-content: center; 
    margin-left: 120px;
    margin-top: 15px;
    color: yellow;
    text-shadow: 5px 0px black;
}

.heading1,img{
    margin-top: 13px;
    margin-left: 15px;
    width: 40px;
}

img{
    border-radius: 100%;
    border: 2px solid red;  
 }

.menuAnchorTag{
    padding: 15px;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    text-decoration: none;
}


.menuAnchorTag:hover{
    color: black;
}


.subjects{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    width: 20%;
    flex-direction: column;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
    position: fixed;
}

.operatingSystem{
    text-align: center;
    padding: 15px 10px;
}

hr{
    width: 280px;   
}

.operatingSystem,a{
    text-decoration: none;
    color: black;
}

.operatingSystem,a:hover{
    color: red;
}


a{
    text-align: center;
    margin-top: 15px;
    /* color: blueviolet; */
    font-style: inherit;
}

.quizQuestions{
    text-align: center;
    border: 2px solid black;
    width: 50%;
    margin-left: 450px;
    margin-top: 50px;
    height: 350px;
}

#timer{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}













